client/node_modules
client/dist
server/node_modules
server/dist
dist/

door-lock/.io
door-lock/.vscode/.browse.c_cpp.db*
door-lock/.vscode/c_cpp_properties.json
door-lock/.vscode/launch.json
door-lock/.vscode/ipch
